.panel {
    text-align: left;
    background: lightyellow;
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 40px;
    line-height: 40px;
    font-size: 16px;
    display: flex;
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .panel_inner {
        flex: 1;
    }
}
.updatetime {
    color: orange;
    font-weight: 700;
}

.city {
    font-weight: 700;
    font-size: 30px;
}

.temp {
    font-weight: 500;
    font-size: 50px;
    line-height: 80px;
}

.description {
    line-height: 50px;
}